<% layout("/layouts/boilerplates.ejs") %>
<body>
    <!-- <h3>All Listings</h3> -->
    <!-- <form method="GET" action="/listing/new">
        
    </form> -->

<style>
  #filters{
display: flex;
flex-wrap: wrap;
align-items: center;
  }

  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
.filter:hover{
  opacity: 1;
  cursor: pointer;
}

.filter a{
  font-size: 0.8rem;
  text-decoration: none;
}

.tax-info{
  display: none;
}

.tax-toggle{
  border: 1px solid black;
  border-radius: 1rem;
  height: 3rem;
  padding: 0.75rem;
  margin-left: 4rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;

}




</style>

<div id="filters">
  <div class="filter">
<div><i class="fa-solid fa-fire"></i></div>
 <a href="listings/687aa0d45556288cb74f9507">Trending</a>
  </div>

   <div class="filter">
<div><i class="fa-solid fa-bed"></i></div>
<a href="/listings/687ca8b11ff208b2696b871c">Rooms</a>
  </div>

   <div class="filter">
<div><i class="fa-solid fa-mountain-city"></i></div>
<a href="listings/6888710ec34dbe76c88ac74d">Iconic City</a>
  </div>

   <div class="filter">
<div><i class="fa-solid fa-mountain-sun"></i></div>
<a href="listings/6888714ec34dbe76c88ac755">Moutain</a>
  </div>

   <div class="filter">
<div><i class="fa-solid fa-chess-rook"></i></div>
<a href="listings/688871d8c34dbe76c88ac75d">Castles</a>
  </div>

   <div class="filter">
<div><i class="fa-solid fa-person-swimming"></i></div>
<a href="listings/6888737cc34dbe76c88ac7a4">Pools</a>
  </div>

    <div class="filter">
<div><i class="fa-solid fa-tractor"></i></div>
<a href="listings/6888731fc34dbe76c88ac794">Farms</a>
  </div>
  
    <div class="filter">
<div><i class="fa-solid fa-campground"></i></div>
<a href="listings/6888734bc34dbe76c88ac79c">Camping</a>
  </div>

    <div class="filter">
<div><i class="fa-solid fa-snowflake"></i></div>
<a href="listings/68887440c34dbe76c88ac7be">Artic</a>
  </div>

   <div class="filter">
<div><i class="fa-solid fa-igloo"></i></div>
<a href="listings/688874c9c34dbe76c88ac7d8">Domes</a>
  </div>

    <div class="filter">
<div><i class="fa-solid fa-snowflake"></i></div>
<a href="listings/68887465c34dbe76c88ac7c6">HouseBoat</a>
  </div>

  
<div class="tax-toggle">
  <div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox"  id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault"> Display total after taxes</label>
</div>
</div>

</div>


  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings){ %>
        <a href="/listings/<%=listing.id%>" class="listing-link">
        <div class="card col listing-card">
            <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text"><b><%=listing.title%></b><br>
                <%=listing.price.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })%>/Night
              <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
              </p>
            </div>
            
          </div>
        </a>
      <% } %>
  </div>
   
 
<script>
  let texSwitch = document.getElementById("flexSwitchCheckDefault");
  texSwitch.addEventListener("click",()=>{
   let taxInfo=document.getElementsByClassName('tax-info');
   for(info of taxInfo){
    if(info.style.display!="inline"){
      info.style.display="inline";
    }else{
      info.style.display="none";
    }
   }
  });

</script>